<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymaleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">New Coffee</title>
<th:block th:replace="~{fragments/style}"></th:block>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>


<main layout:fragment="main-content">

</main>

<div th:replace="~{fragments/footer}"></div>
<th:block th:replace="~{fragments/script}"></th:block>
<th:block layout:fragment="subScript"></th:block>
<link rel="stylesheet" href="/js/bootstrap.bundle.min.js">
</body>
</html>